HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/
!**/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/
!**/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
!**/test/**/out/
!**/generated/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
